.donate
    .qrcode-list
        text-align: center
        img
            display: inline-block
            @media mq-normal
                max-width: 30%
            @media mq-mobile
                max-width: 100%
            @media mq-tablet
                max-width: 49%

    #tab-wechat
        img
            @media mq-normal
                max-width: 30%
    #tab-alipay
        img
            @media mq-normal
                max-width: 25%

.donate-btn
    margin: 30px 0
    a
        border:1px solid #f57e42
        background: #f57e42
        color: #fff
        padding: 10px 20px
        text-decoration:none

        &:hover
            background: #F56342
            border:1px solid #F56342
            color: #fff
            text-decoration:none
