layout: donate
subtitle: 打赏
comment: false
is_home: false
---

div.donate

  .article.md-padding-y
    .article-header.text-center
      h1.article-title
        i.fa.fa-usd  捐赠

    .article-content
      p 如果觉得 frp 对你的工作生活起到了一定帮助，简化了你的开发工作，不妨打赏我们一下，让我们知道有人在支持我们，这样我们就有更大的动力去完善它，优化它。

      .qrcode-images
        img(src="http://gofrp.org/pic/wechatpay.png")
        img(src="http://gofrp.org/pic/alipay.jpg")
