layout: index
description: frp is a fast reverse proxy to help you expose a local server behind a NAT or firewall to the internet.
subtitle: 简单、高效的内网穿透工具
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-magic
      h3.intro-feature-title 易安装
      p.intro-feature-desc 您可以根据操作系统平台直接下载二进制文件，解压后即可运行。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-server
      h3.intro-feature-title 高性能
      p.intro-feature-desc 借助于 Go 语言的优势，使 frp 可以承载高并发的连接数，并且性能卓越。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-laptop
      h3.intro-feature-title 跨平台
      p.intro-feature-desc 任何 Go 语言 支持的平台都可以运行 frp，包括 Windows、Mac、Linux 以及 ARM。frp 甚至可以运行在廉价的树莓派和路由器上。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 功能丰富
      p.intro-feature-desc frp 目前已经支持 tcp、udp、http、https 等协议，支持多用户，web 管理界面，并且在持续迭代更新中。
